@import url('https://fonts.googleapis.com/css2?family=Varela+Round &display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rbga(0, 0, 0, 0.2);
    padding: 0 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav ul {
    display: none;
    white-space: nowrap;
    margin-right: 100px;
}

nav ul li a {
    margin: 30px;
    font-family: 'Varela Round', sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.logo {
    font-family: 'Varela Round', sans-serif;
    color: #000000;
    font-size: 22px;
}

.active {
    font-weight: bold;
    color: #2d2a2a;
}

.text-container p:nth-child(1) {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2) {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3) {
    font-family: 'Varela Round', sans-serif;
    columns: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container p {
    line-height: 0;
    margin: 45px 0 25px;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.text-container button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0 10px;
}

.contact-brn {
    border: 2px solid #373636;
    color: #373636;
}

.down-resume {
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}

button:active {
    transform: scale(1.1);
}

.me {
    height: 560px;
    position: absolute;
    top: 25%;
    right: 15%;
    display: none;
}

.about {
    height: 100vh;
    position: relative;
}

.about-container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 80%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-text {
    width: 550px;
    margin-left: 2em;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0;
}

.about-text p:nth-child(2) {
    color: #3e3d3d;
    font-size: 13px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4) {
    color: #7e7d7d;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

.about-text button {
    width: 120px;
    height: 40px;
    color: white;
    outline: none;
    border: none;
    font-family: Calibri;
    background-color: #262525;
}

.projects {
    height: 100vh;
    background-color: #ffffff;
    padding: 2% 10% 0;
}

.projects-text p:nth-child(1) {
    font-family: Calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0;
}

.projects-text p:nth-child(2) {
    font-family: Calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 15px;
    line-height: 5px;
}

.projects-text {
    width: 500px;
    margin: 50px 0;
}

.box-container {
    width: 100%;
}

.box-container ul {
    padding: 0;
}
.box-container ul li {
    background: black;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
    align-items: center;
    p {
        font-weight: bold;
        color: white;
        text-align: center;
    }
}


.contact-me {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-family: Calibri;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.contact-me button {
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    font-family: Calibri;
}

footer p:nth-child(1) {
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}
footer p:nth-child(2) {
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
}

.copyright {
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.social-icons a:hover {
    background-color: #858585;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.a-social-b {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.a-social-b a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    line-height: 0;
    background-color: black;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.modal-content:after {
    content: '';
    position: absolute;
    width: 100%;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    display: grid;
    width: 500px;
    grid-template-columns: auto;
    row-gap: 10px;
    max-width: 500px;
    width: 500px;
    margin: 20px 10px;
    position: relative;
}

h2 {
    position: relative;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field {
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    transition: 0.3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
    font-family: 'Varela Round', sans-serif;
    resize: none;
}

.btn {
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    min-height: 30px;
}

.btn:hover {
    background-color: #27ae60;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

/* The Close Button */
.close {
    position: absolute;
    left: 2%;
    top: -2%;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and(min-width: 1259px) {
    .me {
        display: block;
        right: 15%;
    }
}

@media only screen and(min-width: 800px) {
    .box-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    nav ul {
        display: flex;
    }
}
