@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rbga(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: 'Varela Round', sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.logo {
    font-family: 'Varela Round', sans-serif;
    color: #000000;
    font-size: 22px;
}

.active {
    font-weight: bold;
    color: #2d2a2a;
}

.text-container p:nth-child(1) {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2) {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3) {
    font-family: 'Varela Round', sans-serif;
    columns: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container p {
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.text-container button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.contact-brn {
    border: 2px solid #373636;
    color: #373636;
}

.down-resume {
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}

button:active {
    transform: scale(1.1);
}

.me {
    height: 560px;
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translateX(-70%);
}

.about-container {
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-text {
    width: 550px;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2) {
    color: #3e3d3d;
    font-size: 13px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    line-height: 5px;
}

.about-text p:nth-child(3), .about-text p:nth-child(4) {
    color: #7e7d7d;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

.about-text button {
    width: 120px;
    height: 40px;
    color: white;
    outline: none;
    border: none;
    font-family: Calibri;
    background-color: #262525;
}

.projects {
    height: 600px;
    background-color: #ffffff;
    padding: 2% 10% 0px 10%;
}

.projects-text p:nth-child(1) {
    font-family: Calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;
}

.projects-text p:nth-child(2) {
    font-family: Calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 15px;
    line-height: 5px;
}

.projects-text {
    width: 500px;
    margin: 50px 0px;
}

.box-1, .box-2, .box-3 {
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px  rgba(0, 0, 0, 0.3);
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container {
    display: flex;
    justify-content: space-between;
}


.box-1 span,
.box-2 span,
.box-3 span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Calibri;
    font-weight: bold;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2) {
    color: #FFFFFF;
    font-family: Calibri;
    font-size: 23px;
    line-height: 0px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3) {
    color: #8f8f8f;
    font-family: Calibri;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
}

.box-1 button,
.box-2 button,
.box-3 button {
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact-me {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-family: Calibri;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.contact-me button {
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    font-family: Calibri;
}

footer p:nth-child(1) {
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}
footer p:nth-child(2) {
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
}

.copyright {
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.social-icons a:hover {
    background-color: #858585;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.a-social-b {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.a-social-b a {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50px;
     height: 50px;
     padding: 0px;
     margin: 0px;
     line-height: 0px;
     background-color: black;
     border: 1px solid #cbcbcb;
     box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
